html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*/ HTML5 display-role reset for older browsers /*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background: #fff;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  color: #DB4D2D;
  text-decoration: none;
  transition: background-color 0.4s ease 0s, border 0s ease 0s, color 0.4s ease 0s, opacity 0.4s ease-in-out 0s;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2 {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
}

h3, h4 {
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.center-img img {
  margin: auto;
}

.pagebuilder-mobile-only {
  display: none;
}

.grid_custom {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 30px;
}

.prod_icon_grid .pagebuilder-column-line {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 30px;
}

.service_icon_widget .pagebuilder-column-line:nth-child(2), .service_icon_widget .pagebuilder-column-line:nth-child(3) {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 30px;
}

.main_container {
  max-width: 1400px;
  margin: auto;
  padding: 0px 25px;
  box-sizing: border-box;
}

.other_container {
  max-width: 1600px;
  margin: auto;
  padding: 0px 25px;
  box-sizing: border-box;
}

.primary_cta {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #fff;
  min-width: 10em;
  padding: 10px 25px;
  box-sizing: border-box;
  background-color: #DB4D2D;
  border: 1.8px solid #DB4D2D;
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  text-align: center;
}
.primary_cta:hover {
  background-color: transparent;
  color: #DB4D2D;
}
.primary_cta.secondary_cta {
  background-color: transparent;
  border-color: #DB4D2D;
  color: #DB4D2D;
}
.primary_cta.secondary_cta:hover {
  background-color: #DB4D2D;
  color: #fff;
}

.primary_title {
  font-size: 42px;
  line-height: 50px;
  font-weight: 600;
  text-transform: capitalize;
  color: #141414;
  font-family: "Sarabun", sans-serif;
  padding-bottom: 30px;
}
.primary_title span {
  color: #DB4D2D;
}

.primary_text {
  font-size: 18px;
  line-height: 30px;
  color: #686868;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30px;
}
.primary_text:last-child {
  padding-bottom: 0px;
}
.primary_text .highlighted {
  color: #DB4D2D;
}

.secondary_title {
  font-size: 22px;
  line-height: 30px;
  font-family: "Sarabun", sans-serif;
  font-weight: 600;
  padding-bottom: 20px;
  color: #141414;
}

.section_padding {
  padding: 60px 0px;
  box-sizing: border-box;
}
.section_padding.zero_top {
  padding-top: 0px;
}

.product_details div [data-content-type=row] .main_container {
  padding: 60px 25px;
  box-sizing: border-box;
}
.product_details div [data-content-type=row].zero_top {
  padding-top: 0px;
}
.product_details div [data-content-type=row] .pagebuilder-column-group {
  max-width: 1400px;
  margin: auto;
  padding: 0px 25px;
  box-sizing: border-box;
}

.services_details div [data-content-type=row] .main_container {
  padding: 60px 25px;
  box-sizing: border-box;
}
.services_details div [data-content-type=row].zero_top {
  padding-top: 0px;
}
.services_details div [data-content-type=row] .pagebuilder-column-group {
  max-width: 1400px;
  margin: auto;
  padding: 0px 25px;
  box-sizing: border-box;
}
.services_details div [data-content-type=row] .section_cta .primary_cta.secondary_cta:hover .pagebuilder-button-primary {
  color: #fff;
}
.services_details .list_block ul li {
  position: relative;
}
.services_details .list_block ul li:before {
  position: absolute;
  left: -20px;
  top: 8px;
}

.section_bg {
  background-color: #FFF7F2;
}

.secondary_bg {
  background-image: linear-gradient(180deg, rgba(255, 250, 248, 0) 0%, #FFF7F2 100%);
}

.section_cta {
  padding-top: 30px;
}

.review svg {
  width: 22px;
  height: auto;
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  .primary_title {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 20px;
  }
  .primary_text {
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 20px;
  }
  .secondary_title {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 15px;
  }
  .primary_cta {
    font-size: 15px;
    line-height: 23px;
    padding: 8px 15px;
    min-width: 8em;
  }
  .section_padding {
    padding: 30px 0px;
  }
  .product_details div [data-content-type=row] .main_container {
    padding: 30px 25px;
  }
  .services_details div [data-content-type=row] .main_container {
    padding: 30px 25px;
  }
  .section_cta {
    padding-top: 20px;
  }
  .grid_custom {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  .prod_icon_grid .pagebuilder-column-line {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  .service_icon_widget .pagebuilder-column-line:nth-child(2), .service_icon_widget .pagebuilder-column-line:nth-child(3) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  .services_details .list_block ul li {
    font-size: 15px;
    line-height: 23px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .primary_title {
    font-size: 25px;
    line-height: 33px;
    padding-bottom: 20px;
  }
  .primary_text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;
  }
  .secondary_title {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .primary_cta {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 15px;
    min-width: 8em;
  }
  .section_padding {
    padding: 40px 0px;
  }
  .product_details div [data-content-type=row] .main_container {
    padding: 40px 25px;
  }
  .services_details div [data-content-type=row] .main_container {
    padding: 40px 25px;
  }
  .section_cta {
    padding-top: 20px;
  }
  .grid_custom {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  .prod_icon_grid .pagebuilder-column-line {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  .service_icon_widget .pagebuilder-column-line:nth-child(2), .service_icon_widget .pagebuilder-column-line:nth-child(3) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .primary_title {
    font-size: 30px;
    line-height: 38px;
    padding-bottom: 20px;
  }
  .secondary_title {
    font-size: 22px;
    line-height: 30px;
  }
  .grid_custom {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .prod_icon_grid .pagebuilder-column-line {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .service_icon_widget .pagebuilder-column-line:nth-child(2), .service_icon_widget .pagebuilder-column-line:nth-child(3) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}/*# sourceMappingURL=variables.css.map */